---
name: about
url: /about
controller: AboutController
---

<div class="grid-container" data-ng-init="load_entities()">
  <h1>About Page</h1>
  <p class="lead">This is version <strong>1.2 Eiger</strong>.</p>
  
  <div class="grid-block">
    <div class="small-6 medium-6 grid-content">
      <button class="button primary" ng-click="show_message()">Test</button>  
    </div>
    <div class="small-6 medium-6 grid-content">
      <button class="button primary" ng-click="change_service_value()">Change service value</button>  
    </div>
  </div>

  <div class="grid-block">
    <div class="small-12 medium-6 grid-content">
      {{selected_test_value}}
    </div>
  </div>

  

</div>